
        body {
            line-height: 200%;
        }
        
        .first {
            transition-timing-function: ease-in;
            background-repeat: no-repeat;
            background-size: 100%;
            padding-bottom: 10px;
        }
        
        .slider {
            position: fixed;
            left: 800px;
            padding-top: 30px;
        }
        
        .second {
            background-size: 100%;
        }
        
        .heading {
            padding-top: 200px;
        }
        
        .title {
            text-align: left;
            color: white;
            font-size: 50px;
        }
        
        .title2 {
            text-align: center;
            color: midnightblue;
            font-size: 50px;
        }
        
        .title3 {
            text-align: center;
            color: midnightblue;
            font-size: 40px;
        }
        
        .text {
            color: #B0BEC5;
        }
        
        .text2 {
            color: #B0BEC5;
            text-align: justify;
        }
        
        .secondsection {
            padding-top: 50px;
        }
        
        .thirdsection {
            padding-top: 100px;
            color: black;
        }
        
        .centeral {
            text-align: center;
            color: white;
        }
        
        .features {
            padding-top: 10px;
            color: white;
            background-color: lightseagreen;
            text-align: left;
        }
        
        .featuresheading {
            font-size: 80px;
        }
        
        p {
            color: white;
        }
        
        .fourthsection {
            padding-top: 10px;
            color: white;
            background-color: midnightblue;
            text-align: center;
        }
        
        .roundcorner {
            color: midnightblue;
        }
        
        .images {
            background-image: url('./assets/meat.jpg');
            background-repeat: no-repeat;
            width: 100vi;
            height: 100vi;
            position: fixed;
            left: 500px;
        }
        
        .gr {
            padding: 10px;
            background-color: white;
            border: 1px midnightblue solid;
            border-radius: 30px;
        }
        
        .fifthsection {
            padding-top: 30px;
        }
        
        .sixthsection {
            background-image: url("./assets/contact.jpg");
            color: white;
            background-repeat: no-repeat;
            background-size: 100%;
            height: 100%;
            width: 100%;
        }
        
        .text6 {
            color: white;
            text-align: center;
        }
        
        .textjustify {
            text-align: justify;
            color: black;
        }
        
        .text5 {
            text-align: left;
            line-height: 110%;
            text-align: justify;
        }
        
        .wwag {
            padding: 10px;
            color: orange;
            border: 1px double orange;
            border-radius: 30px;
        }
        
        .wwah {
            text-align: center;
            align-content: center;
        }
        
        .wwat {
            color: orange;
            text-align: center;
            align-content: center;
        }
        
        .ch {
            width: 100%;
            height: 30vi;
        }
    