@media only screen and (max-device-width:2000px){
        
        .wow{
            visibility: hidden;
        }
        .slideshow{
            color:midnightblue;
        }

        .first {
            transition-timing-function: ease-in;
            background-repeat: no-repeat;
            background-size: 100%;
            padding-bottom: 10px;
        }

/*.products-section {
    
    background-color: #B0BEC5;
}*/
.portfolio-bottom .section-description {
    padding: 0px 25%;
    margin-bottom: 0px;
}
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
.itemFilter {
    clear: both;
    margin: auto;
    padding: 45px 0px;
    width: auto;
}
.itemFilter a {
    background-color: #ffffff;
    border: 2px solid #e74c3c;
    
    display: inline-block;
    font-size: .8125em;
    margin: 0 10px 15px 0px;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: capitalize;
}
.itemFilter .current {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
}
.project-items .item {
    overflow: hidden;
    position: relative;
}
.project-items .item-details {
    width: 100%;
    bottom: 0px;
    opacity: 0;
    text-align: center;
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.project-items .item:hover .item-details {
    opacity: 1;
    bottom: 50%;
}
.project-items .image-popup-vertical-fit {
    display: block;
    position: relative;
}
.project-items .image-popup-vertical-fit:before {
    content: '';
    /* background: rgba(231, 76, 60, 0.7);*/
     background:rgba(176, 190, 197, 0.7);
    cursor: url(../../images/cursor.png) 30 30, crosshair;
    width: 0%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    opacity: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.project-items .item:hover .image-popup-vertical-fit:before {
    opacity: 1;
    width: 100%;
    left: 0px;
    top: 0px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.project-title {
    color: #ffffff;
    font-size: 1.15em;
    font-weight: 300;
}
.project-items .category {
    color: #ffffff;
    font-size: .8125em;
}
.latest-projects .btn-container,
.blog .btn-container {
    padding-top: 75px;
}

.latest-projects .btn,
.blog .btn {
    border: 2px solid #e74c3c;
    padding: 13px 30px;
}
.latest-projects .btn:hover,
.blog .btn:hover {
    background-color: #e74c3c;
    color: #ffffff;
}
        .slider {
            position: fixed;
            left: 800px;
            padding-top: 30px;
        }

        .second {
            background-size: 100%;
        }

        .heading {
            padding-top: 200px;
        }

        .title {
            text-align: left;
            color: white;
            font-size: 80px;
        }

        .title2 {
            text-align: left;
            color: midnightblue;
            font-size: 50px;
        }

        .title3 {
            text-align: center;
            color: midnightblue;
            font-size: 40px;
        }

        .text {
            color: white;
            font-size: 30px;
        }

        .text2 {
            color: black;
            text-align: justify;
        }

.header-section {
	margin-bottom: 0;
	margin-top: -120px;
	-webkit-transition: all ease 1.5s;
	transition: all ease 1.5s;
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
.header-section.header-floating.floating {
	margin-top: 0;
}
.header-section.navbar-default {
	background-color: #ffffff;
	background-color: rgba(255,255,255,0.95);
	border-bottom-color: #eeeeee;
}
.navbar-toggle {
	margin-top: 13px;
	margin-bottom: 13px;
}
.navbar-logo {
	max-height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 46px;
	white-space: nowrap;
}
.navbar-logo:before {
	content: "";
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}
.navbar-nav > li > a {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 12px;
	text-transform: uppercase;
}
        .secondsection {
            padding-top: 50px;
        }
        .textmenu{
            font-style: bold;
            text-align: left;
            font-size: 15px;
            text-transform: uppercase;
            color: white;
            padding-left: 200px;
            padding-bottom: 40px;
            margin: -15px;
        }
        .thirdsection {
            padding-top: 100px;
            color: black;
        }
        p.captions{
            color: black;
        }

        .centeral {
            text-align: center;
            color: white;
        }

        .features {
            padding-top: 10px;
            color: white;
            background-color: lightseagreen;
            text-align: left;
        }

        .featuresheading {
            font-size: 80px;
        }

       /* p {
            color: white;
        }*/

        .fourthsection {
            padding-top: 10px;
            color: white;
            background-color: lightseagreen;
            
            text-align: center;
        }

        .roundcorner {
            color: lightseagreen;
            
        }
        .roundcorner:hover{
            color: midnightblue;
        }

        .images {
            background-image: url('./assets/meat.jpg');
            background-repeat: no-repeat;
            width: 100vi;
            height: 100vi;
            position: fixed;
            left: 500px;
        }
         .featuressection > div > div >blockquote{
             border: 0px solid black;
         }
         blockquote{
             border: 0px solid black;
         }
         .aboutustitle{
             text-decoration: underline;
             color: white;
             text-align: center;
         }
         .aboutus{
             font-size: 50px;
         }
         .textcenter{
             text-align: center;
             color: white;
             font-size: 18px;
         }
        .gr {
            padding: 10px;
            background-color: white;
            border: 1px lightseagreen;
            border-radius: 30px;
        }
        .gr:hover{
            padding: 10px;
            background-color: white;
            border: 1px skyblue solid;
            border-radius: 30px;
        }
        .fifthsection {
            padding-top: 30px;
        }

        .sixthsection {
            background-image: url("./assets/contact.jpg");
            color: white;
            background-repeat:repeat-x;
            background-size: 100%;
            height: 100%;
            
        }
         .pull10px{
             padding-left: 30px;
         }
         .aboutustext{
             background-color: #4DB6AC;
             border-radius: 10px;
             z-index: 2;
             padding: 30px;
             color: white;
             box-shadow: 10px 10px 10px lightgrey;
         }
        .text6 {
            color: white;
            text-align: center;
        }
.second{
    background: firebrick;
    box-shadow: 1px 5px 10px black;
    z-index: 3;
    
}
        .textjustify {
            text-align: justify;
            color: white;
        }

        .text5 {
            text-align: left;
            line-height: 110%;
            text-align: justify;
        }

        .wwag {
            padding: 10px;
            color: orange;
            border: 1px double orange;
            border-radius: 30px;
        }

        .wwah {
            text-align: center;
            align-content: center;
        }

        .wwat {
            color: orange;
            text-align: center;
            align-content: center;
        }

        .ch {
            width: 100%;
            height: 30vi;
        }
        .combined{
            background-color: rgba(255,255,255,0.2);
            z-index: -1;

        }

    }